.title {
   font-weight: 700;
   color: gray;
}

.previewItem {
   display: flex;
}

.previewItem p:first-child {
   color: gray;
   font-weight: 700;
   width: 150px;
}

.previewItem p:last-child {
   flex: 1;
}
